# 🌐 Server
APP_PORT = 2

# 🗄️ Database
DB_URL = 
NODE_ENV = 
# DB_SYNC=true

# 🤖 Telegram Bot
TELEGRAM_BOT_DEMO_TOKEN = 
TELEGRAM_BOT_PROD_TOKEN = 
ADMIN_TG_ID = 
BUNYOD_TG_ID = 


JWT_ACCESS_SECRET = 
JWT_ACCESS_TIME = 
JWT_REFRESH_SECRET= 
JWT_REFRESH_TIME= 